# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/
.android/

#looks like the rssi on pair mode is not updating
# I think both the status and saved device should disappear if no device paired
# i wanna test if indicators work if the workout has not been started yet
# if hazardous is on, nad one side indicator is turned on mechanically, the lights for sure point in that direction and come back a
# If the esp32 goes offline while the HZ is on, its good that on the app it shows as off and it restores to the blinking once it comes back, however, i only want the turn indicators to turn off while the HZ symbol stays on so that the user knows that HZ is enabled even though esp32 is offline
# regarding the point above, esp32 does NOT sync back with those values meaning if HZ was enabled before esp32 powereing off, it does not make HZ happen when the esp32 connects back even though on the app everything start working, the indicators blink and the hz symbols comes on
# Also i wanted the ability to turn on the indicators individually from the app itself